.container {
  display: flexbox;
  background-color: #ffffff;
  border-color: #e4e4e4;
  border-width: 1px;
  width: 460px;
  height: 596px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
  justify-items: center;
  padding-top: 25px;
}

.header {
  margin-top: 20px;
  margin-right: 680px;
  margin-left: auto;
  color: #55a3f0;
}

.inputs {
  display: grid;
}

.inputers {
  width: 400px;
  height: 35px;
  border-radius: 15px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 15px;
  background: #f2f2f2;
  margin-top: 15px;
  color: #28282850;
  padding-right: 15px;
}

.container Image {
  margin-bottom: 20px;
}

.container h2 {
  margin-bottom: 50px;
  margin-top: 25px;
}

.container button {
  width: 400px;
  height: 53px;
  border-radius: 15px;
  background-color: #55a3f0;
  color: #ffffff;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

.container a {
  margin-top: 30px;
  color: #55a3f0;
}
